{% extends 'base.html' %}

{% block title %}Soccer {% endblock title %}

{% block content %} 
  <h1>Soccer Clubs</h1>
{% comment %} https://github.com/footballcsv/footballcsv.github.io {% endcomment %}
<script>
  fetch('https://github.com/footballcsv/england/blob/master/2010s/2019-20/eng.5.csv', {
    method: 'GET', 
    mode: 'cors', 
    cache: 'no-cache', 
    credentials: 'same-origin', 
    header: {
      "Access-Control-Allow-Origin": "*"
    }
  })
  .then(data => console.log({data}))

</script>
{% endblock content %}