{% extends 'base.html' %}

{% block title %}Soccer {% endblock title %}

{% block content %} 
  <h1>Soccer Clubs</h1>
   <table class="table">
                <thead>
                  <tr>
                      <th scope="col">League</th>
                  </tr>
                </thead>
                 <tbody id="tbody">
                </tbody>
      </table>
  <script>
  fetch('https://soccer.sportmonks.com/api/v2.0/leagues?api_token=R2N3p97BmM5RmN2YtiaAPT9mThWyETOKwudycZRx3aHhnfsiVayoCBoAqbvy')
  .then(data => data.json())
  .then(data => {
    const leagues = data.data
    leagues.forEach(league => {
      console.log(league.name)
      document.getElementById('tbody').innerHTML += `<tr><td>${league.name}</td></tr>`
    })

  })

</script>
{% endblock content %}